body{
    background-color:#00405c;
}
h1{
    
    color: white;
    text-align: center;
}
.form{
 display: flex;
 background-color: white;
 width: 500px;
 margin-left: 510px;
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
}
label{
    color: red;
}
textarea{
    margin-top: 10px;
    width: 462px;
    height: 100px;
}
input{
    margin-top: 10px;
    width: 462px;
}
select{
    margin-top: 10px;
    width: 462px;
}
button{
    width: 462px;
    height: 34px;
    border: none;
    background-color: #00998b;
    color: white;
    font-size: 18px;
}
p{
    margin-left: 510px;
    color: white;
}