body{
    background-color:#00405c;
}

h1{
    
    color: white;
    text-align: center;
}
.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
 background-color: white;
 width: 500px;
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 20px; 
}
label{
    color: red;
}
textarea{
    margin-top: 10px;
    width: 462px;
    height: 100px;
}
.input{
    margin-top: 10px;
    width: 462px;
}

button{
    width: 462px;
    height: 34px;
    border: none;
    border-radius: 20px;
    background-color: #00998b;
    color: white;
    font-size: 18px;
}
button:hover{
    background-color: black;
}
p{
    text-align: center;
    color: white;
}
@media only screen and (max-width:600px)
 {
  .input,textarea,button{
    width: 252px;
  }  
  .form{
    width: 301px;
  }
}